
.card {
    box-shadow: 0 0.5rem 1rem rgba(255, 99, 71, 0.3) ;
    padding: 1.25rem;
}

*{
    font-family:"Poppins",sans-serif;
}

.btn-yellow {
    background-color: #ffa500; /* Orange */
    color: white;
    transition: all 0.3s ease;
    border-color: #ffa500;
}

.btn-yellow:hover, .btn-yellow:focus {
    transform: scale(1.05);
    background-color: #ff8c00; /* Dark Orange */
    border-color: #ff8c00;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-yellow:focus {
    outline: 2px solid #ffff00; /* Yellow */
    outline-offset: 2px;
}

.btn-pink {
    background-color: #ff69b4;
    border-color: #ff69b4;
    color: white;
    transition: all 0.3s ease;
}
.btn-pink:hover, .btn-pink:focus {
    transform: scale(1.05);
    background-color:#fc58a8; /* Dark pink */
    border-color: #fc58a8;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-pink:focus {
    outline: 2px solid #ff69b4; /* pink */
    outline-offset: 2px;
}

.btn-tomato{
    background-color:#ff6347;
    border-color:#ff6347;
    color: white;
    transition: all 0.3s ease;
}

.btn-tomato:hover, .btn-tomato:focus {
    transform: scale(1.05);
    background-color:#cc4f39; 
    border-color:#cc4f39;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-tomato:focus {
    outline: 2px solid #ff6347; 
    outline-offset: 2px;
}

.u-card {
    box-shadow: 0 0.5rem 1rem rgba(255, 165, 0, 0.3);
    padding: 1.25rem;
}
.s-card{
    box-shadow: 0 0.5rem 1rem rgba(255, 105, 180, 0.3);
    padding: 1.25rem;   
}

.flashed_message{
    color: red;
    font-weight: bold;

}