.card {
    box-shadow: 0 0.5rem 1rem black;
    padding: 1.25rem;
    min-height: 500px;
}

* {
    font-family: "Poppins", sans-serif;
}

.btn-yellow {
    background-color: black;
    /* Orange */
    color: white;
    transition: all 0.3s ease;
    border-color: white
}


.btn-yellow:hover,
.btn-yellow:focus {
    transform: scale(1.05);
    background-color: black;
    /* Dark Orange */
    border-color: white;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.btn-yellow:focus {
    outline: 2px solid black;
    /* Yellow */
    outline-offset: 2px;
}

.btn-pink {
    background-color: black;
    border-color: black;
    color: white;
    transition: all 0.3s ease;
}

.btn-pink:hover,
.btn-pink:focus {
    transform: scale(1.05);
    background-color: black;
    /* Dark pink */
    border-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn-pink:focus {
    outline: 2px solid black;
    /* pink */
    outline-offset: 2px;
}

.btn-tomato {
    background-color: black;
    border-color: white;
    color: white;
    transition: all 0.3s ease;
}

.btn-tomato:hover,
.btn-tomato:focus {
    transform: scale(1.05);
    background-color: black;
    border-color: white;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.btn-tomato:focus {
    outline: 2px solid black;
    outline-offset: 2px;
}

.u-card {
    box-shadow: 0 0.5rem 1rem black;
    padding: 1.25rem;
}

.s-card {
    box-shadow: 0 0.5rem 1rem black;
    padding: 1.25rem;
}

.flashed_message {
    color: red;
    font-weight: bold;

}

.about {
    box-shadow: 0 0.5rem 1rem black;
    padding: 1.25rem;
    height: auto;
    margin-top: 10px;
}

.image-container img {
    width: 100%;
    /* Ensures images fill the column */
    height: auto;
    max-height: 300px;
    /* Adjust this as needed */
    object-fit: cover;
    /* Keeps images visually appealing */
}

.row {
    padding: 2px;
    margin: 5px;
}

.hero-section {
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
    background-position: center;
    background-image: url("./../images/ftv8.jpg");
    height: 500px;
    display: flex;
    align-items: center;
    color: black;

}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: black;
}

.hero-heading {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: black;
}

@media (max-width: 768px) {
    .hero-heading {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;

    }
}

.one {
    padding: 5px;
    margin: 5px 30px;
}

.sidekick {
    background-color: gray;
    min-height: 150px;

}


.getstarted {
    background-color: black;
    color: white;
}

h2 {
    color: black;
}

.navbar a {
    color: gray;
    font-weight: bold;
}

.navbar {
    background-color: white;
}

.summ {
    border: 10px;
    background-color: rgba(128, 128, 128, 0.05)
}

.areaa {
    width: 800px;
}

.lsa {
    background-color: rgba(128, 128, 128, 0.08);
    padding: 5px;

}

body {
    background-color: rgba(128, 128, 128, 0.09);
}

.footer {
    background-color: white;
    height: 200px;
}