.btn-yellow {
    background-color: #ffff00;
    border-color: #ffff00;
}
.btn-pink {
    background-color: #ff69b4;
    border-color: #ff69b4;
    color: white;
}
.card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1.25rem;
}

h2{
    font-family:"Poppins",sans-serif;
}